.ctr-login {

    display: grid;
    justify-content: center;
    margin-top: 15px;
}

.ctr-login-douvery {
    display: grid;
    justify-content: center;

    width: 390px;
    height: 70px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.iteam-douvery {
    position: relative;
    right: 20px;
}

.login-container {

    width: 390px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}

.header-login {

    display: grid;
    align-items: center;
    justify-content: center;

    color: #000;
    text-align: center;
    height: 100px;
}

.title-login {
    height: 10PX;

    align-items: center;
    font-size: 30px;

}

.sub-title-login {
    color: #333;
}

.form-group {
    position: relative;
    color: #000;
    font-weight: 500;

    margin-bottom: 20px;
    margin-top: 20px;
}

.need-account {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #66666611;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgot-new-account-link {
    font-size: 14px;
    color: #0066cc;
    text-decoration: none;
}

.error {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #c00;

}




.login-button {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background-color: #00478d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
    max-width: NONE;
}

.login-button:focus {
    outline: none;

    box-shadow: 0 0 10px #719ECE;

}

.button-text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}



.button-error {
    transition: all 0.5s ease;
    transform: translateX(4px);
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}



.suggestions {
    margin-top: .5rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.suggestions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.crrtrSrers {
    display: flex;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

.crrtrSrers:hover {
    background-color: #e9ecef;
}

.lis-sgrs {
    margin-left: .5rem;
}

.suggestion {
    display: flex;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

@media only screen and (max-width: 885px) {
    .ctr-login-douvery {
        width: 350px;
        margin-top: 50px;
        padding: 0px 10px;
    }

    .login-container {
        width: 350px;
    }

    .iteam-douvery {
        position: relative;
        top: 5px;
    }

    .iteam-douvery svg {
        width: 60px;
        height: 60px;
    }

    .iteam-douvery span {
        position: relative;
        bottom: 4px;
        font-size: 25px;
    }
}