.container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--color-background-white);
    padding-bottom: 100px;
}

.hr-div {
    margin: 0 10px;
    width: 100%;
    height: 1px;
    background: #00000013;
}