.container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--color-background-white);
    padding-bottom: 100px;
}

.hr-div {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgb(0, 74, 173) 0%, rgb(227, 133, 236) 100%);
}