.container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    background-color: var(--color-background-white);
}


.carousel__image-container {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, #004AAD 8.33%, #014AAD 8.66%, #024AAD 8.98%, #034BAE 9.31%, #044BAE 9.64%, #044BAE 9.96%, #054BAE 10.29%, #064CAF 10.61%, #074CAF 10.94%, #084CAF 11.26%, #094CAF 11.59%, #0A4CB0 11.91%, #0B4DB0 12.24%, #0C4DB0 12.57%, #0C4DB0 12.89%, #0D4DB1 13.22%, #0E4EB1 13.54%, #0F4EB1 13.87%, #104EB1 14.19%, #114EB2 14.52%, #124FB2 14.84%, #134FB2 15.17%, #144FB2 15.49%, #144FB3 15.82%, #154FB3 16.15%, #1650B3 16.47%, #1750B3 16.8%, #1850B4 17.12%, #1950B4 17.45%, #1A51B4 17.77%, #1B51B4 18.1%, #1B51B5 18.42%, #1C51B5 18.75%, #1D52B5 19.08%, #1E52B5 19.4%, #1F52B5 19.73%, #2052B6 20.05%, #2152B6 20.38%, #2253B6 20.7%, #2353B6 21.03%, #2353B7 21.35%, #2453B7 21.68%, #2554B7 22.01%, #2654B7 22.33%, #2754B8 22.66%, #2854B8 22.98%, #2955B8 23.31%, #2A55B8 23.63%, #2B55B9 23.96%, #2B55B9 24.28%, #2C56B9 24.61%, #2D56B9 24.93%, #2E56BA 25.26%, #2F56BA 25.59%, #3056BA 25.91%, #3157BA 26.24%, #3257BB 26.56%, #3357BB 26.89%, #3357BB 27.21%, #3458BB 27.54%, #3558BC 27.86%, #3658BC 28.19%, #3758BC 28.52%, #3859BC 28.84%, #3959BD 29.17%, #3A59BD 29.49%, #3B59BD 29.82%, #3B59BD 30.14%, #3C5ABE 30.47%, #3D5ABE 30.79%, #3E5ABE 31.12%, #3F5ABE 31.45%, #405BBF 31.77%, #415BBF 32.1%, #425BBF 32.42%, #425BBF 32.75%, #435CC0 33.07%, #445CC0 33.4%, #455CC0 33.72%, #465CC0 34.05%, #475CC1 34.38%, #485DC1 34.7%, #495DC1 35.03%, #4A5DC1 35.35%, #4A5DC2 35.68%, #4B5EC2 36%, #4C5EC2 36.33%, #4D5EC2 36.65%, #4E5EC3 36.98%, #4F5FC3 37.3%, #505FC3 37.63%, #515FC3 37.96%, #525FC4 38.28%, #525FC4 38.61%, #5360C4 38.93%, #5460C4 39.26%, #5560C5 39.58%, #5660C5 39.91%, #5761C5 40.23%, #5861C5 40.56%, #5961C5 40.89%, #5A61C6 41.21%, #5A62C6 41.54%, #5B62C6 41.86%, #5C62C6 42.19%, #5D62C7 42.51%, #5E62C7 42.84%, #5F63C7 43.16%, #6063C7 43.49%, #6163C8 43.82%, #6263C8 44.14%, #6264C8 44.47%, #6364C8 44.79%, #6464C9 45.12%, #6564C9 45.44%, #6665C9 45.77%, #6765C9 46.09%, #6865CA 46.42%, #6965CA 46.74%, #6965CA 47.07%, #6A66CA 47.4%, #6B66CB 47.72%, #6C66CB 48.05%, #6D66CB 48.37%, #6E67CB 48.7%, #6F67CC 49.02%, #7067CC 49.35%, #7167CC 49.67%, #7168CC 50%, #7268CD 50.33%, #7368CD 50.65%, #7468CD 50.98%, #7568CD 51.3%, #7669CE 51.63%, #7769CE 51.95%, #7869CE 52.28%, #7969CE 52.6%, #796ACF 52.93%, #7A6ACF 53.26%, #7B6ACF 53.58%, #7C6ACF 53.91%, #7D6BD0 54.23%, #7E6BD0 54.56%, #7F6BD0 54.88%, #806BD0 55.21%, #816BD1 55.53%, #816CD1 55.86%, #826CD1 56.18%, #836CD1 56.51%, #846CD2 56.84%, #856DD2 57.16%, #866DD2 57.49%, #876DD2 57.81%, #886DD3 58.14%, #896ED3 58.46%, #896ED3 58.79%, #8A6ED3 59.11%, #8B6ED4 59.44%, #8C6ED4 59.77%, #8D6FD4 60.09%, #8E6FD4 60.42%, #8F6FD4 60.74%, #906FD5 61.07%, #9070D5 61.39%, #9170D5 61.72%, #9270D5 62.04%, #9370D6 62.37%, #9471D6 62.7%, #9571D6 63.02%, #9671D6 63.35%, #9771D7 63.67%, #9871D7 64%, #9872D7 64.32%, #9972D7 64.65%, #9A72D8 64.97%, #9B72D8 65.3%, #9C73D8 65.62%, #9D73D8 65.95%, #9E73D9 66.28%, #9F73D9 66.6%, #A074D9 66.93%, #A074D9 67.25%, #A174DA 67.58%, #A274DA 67.9%, #A374DA 68.23%, #A475DA 68.55%, #A575DB 68.88%, #A675DB 69.21%, #A775DB 69.53%, #A876DB 69.86%, #A876DC 70.18%, #A976DC 70.51%, #AA76DC 70.83%, #AB77DC 71.16%, #AC77DD 71.48%, #AD77DD 71.81%, #AE77DD 72.14%, #AF77DD 72.46%, #B078DE 72.79%, #B078DE 73.11%, #B178DE 73.44%, #B278DE 73.76%, #B379DF 74.09%, #B479DF 74.41%, #B579DF 74.74%, #B679DF 75.07%, #B77AE0 75.39%, #B87AE0 75.72%, #B87AE0 76.04%, #B97AE0 76.37%, #BA7AE1 76.69%, #BB7BE1 77.02%, #BC7BE1 77.34%, #BD7BE1 77.67%, #BE7BE2 77.99%, #BF7CE2 78.32%, #BF7CE2 78.65%, #C07CE2 78.97%, #C17CE3 79.3%, #C27DE3 79.62%, #C37DE3 79.95%, #C47DE3 80.27%, #C57DE4 80.6%, #C67DE4 80.92%, #C77EE4 81.25%, #C77EE4 81.58%, #C87EE4 81.9%, #C97EE5 82.23%, #CA7FE5 82.55%, #CB7FE5 82.88%, #CC7FE5 83.2%, #CD7FE6 83.53%, #CE80E6 83.85%, #CF80E6 84.18%, #CF80E6 84.51%, #D080E7 84.83%, #D180E7 85.16%, #D281E7 85.48%, #D381E7 85.81%, #D481E8 86.13%, #D581E8 86.46%, #D682E8 86.78%, #D782E8 87.11%, #D782E9 87.43%, #D882E9 87.76%, #D983E9 88.09%, #DA83E9 88.41%, #DB83EA 88.74%, #DC83EA 89.06%, #DD83EA 89.39%, #DE84EA 89.71%, #DF84EB 90.04%, #DF84EB 90.36%, #E084EB 90.69%, #E185EB 91.02%, #E285EC 91.34%, #E385EC 91.67%);
}

.carousel__image {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    /* Ajusta el tiempo de la animación si lo deseas */
}


.carousel__button--previous,
.carousel__button--next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__button--previous {
    left: 10px;
}

.carousel__button--next {
    right: 10px;
}

.container__title {
    padding: 0px 20px;
    background-color: #97979724;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;


    color: var(--color-background-white);
    top: 30%;

}

.container__title h1 {
    font-size: 35px;
    color: var(--color-background-white);
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

.carousel__button--link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
}

button {
    height: 38px;
}

@media screen and (max-width: 1636px) {
    .carousel__button--link {
        right: 18%;
    }
}

@media screen and (max-width: 1400px) {
    .carousel__button--link {
        right: 10%;
    }
    .carousel__image {
        width: 100%;
        object-fit: fill;
        transition: opacity 0.5s;
    }

}

@media screen and (max-width: 1300px) {
  
   

    .carousel__button--link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        top: 80%;

    }
}


