.carousel__image-container {

    cursor: pointer;
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, rgb(0, 74, 173) 0%, rgb(227, 133, 236) 100%);

}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
    /* Ajusta el tiempo de la animación si lo deseas */
}

.carousel__button--previous,
.carousel__button--next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__button--previous {
    left: 10px;
}

.carousel__button--next {
    right: 10px;
}

.container__title {
    padding: 0px 20px;
    background-color: #97979724;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;


    color: var(--color-background-white);
    top: 30%;

}

.container__title h1 {
    font-size: 35px;
    color: var(--color-background-white);
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

.carousel__button--link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
}

a {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: grid;
    align-items: center;

    font-size: 13px;

    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100%;
    max-width: 200px;
    height: 38px;
}

a:hover {
    box-shadow: 0 0 0 4px #c0c0c069;
    transition: all 0.2s;
}

a:active {
    box-shadow: 0 0 0 4px #c0c0c0d3;

}

@media only screen and (max-width: 600px) {
    .carousel__image-container {
        height: 200px;
    }

    .container__title h1 {
        font-size: 20px;
    }

    .carousel__button--link {
        bottom: 10%;
    }
}