.carousel__image-container {

    cursor: pointer;
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
    background-color: #212a3e;
}



.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: opacity 0.5s;
    /* Ajusta el tiempo de la animación si lo deseas */
}

.carousel__button--previous,
.carousel__button--next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__button--previous {
    left: 10px;
}

.carousel__button--next {
    right: 10px;
}

.container__title {
    padding: 0px 20px;
    background-color: #97979724;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;


    color: var(--color-background-white);
    top: 30%;

}

.container__title h1 {

    font-size: 35px;
    color: var(--color-background-white);
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

.carousel__button--link {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    bottom: 29%;

}

a {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: grid;
    align-items: center;

    font-size: 13px;

    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100%;
    max-width: 200px;
    height: 40px;

}

a:hover {
    box-shadow: 0 0 0 4px #c0c0c069;
    transition: all 0.2s;
}

a:active {
    box-shadow: 0 0 0 4px #c0c0c0d3;

}

.data_content {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.blurred-frame {
    filter: brightness(0.4);
    width: 100%;
    height: 100%;
    border: 0px;
}

.overlay {


    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay__promo {

    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
}


.overlay h1 {
    margin-top: 40px;
    letter-spacing: 0.1px;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(19, 18, 18, 0.8);
    padding: 10px;
    background-color: #c0c0c05b;
    border-radius: 10px;

}

.overlay__promo h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

@media only screen and (max-width: 600px) {
    .carousel__image-container {
        height: 200px;
    }

    .container__title h1 {
        font-size: 20px;
    }

    .carousel__button--link {
        bottom: 10%;
    }
}