.container__all {

    width: 100%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;

    gap: 30px;
    background-color: var(--color-background-white);

}

.title {
    width: 100%;
    text-align: start;
}
.show_more{
    color: var(--color-secondary);
}

.container__all p {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-primary);
    text-align: start;
    margin: 0;
    padding: 0;
}

.container__all a:hover {
    text-decoration: underline;
}

.store {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-background-down);
}

.container__all img,
.card_aboutstore {
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top;
    object-position: center;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    border: 1px solid #e8f0fe;
    background-color: #fff;
}


.container__all img:hover {
    filter: brightness(0.6);
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10px;
}

.container__all iframe:hover {
    filter: brightness(0.6);
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10px;
}