.container__all {
    width: 100%;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background-color: var(--color-background-white);
}

.title_and_infos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-background-white);
    position: relative;
    border-bottom: 1px solid var(--border-width-1);
}

.title .product_new__title {
    width: 270px;
    font-size: 30px;
    font-weight: 600;
    color: var(--color-primary);
}

.title_subtitle {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.progress__bar {
    position: relative;
    width: 100%;
}


h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-primary);
}

.container__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;

}

.content_form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}


label {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000000cc;
    font-weight: 500;
}

input[type="text"],
input[type="number"],
textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    color: #000;

    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

#textarea__name {
    height: 40px;
    font-size: 16px;
    color: #000;
}

#textarea__name[placeholder] {
    font-size: 16px;
    color: #00000096;

}

#description_short {
    background-color: var(--color-background-white);
    padding: 20px;
}

#description_short::placeholder {
    color: #000000,
        opacity 44.0%;
    font-size: 14px;
}

#vinetas_product {
    color: #00000070;
    font-size: 14px;
}

select {
    padding: 10px 30px 10px 15px;
    font-size: 14px;
    color: #00000096;
    border-radius: 5px;
    background-color: var(--color-background-light);
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;

}

.SELECT-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.label__select,
.sub__subcategory {
    font-size: 15px;
    margin-bottom: 7px;
    color: #000;
}

.SELECT-container select {
    padding: 10px 30px 10px 15px;
    font-size: 14px;
    color: #00000096;
    border-radius: 5px;
    background-color: var(--color-background-light);
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;

}

.sub__subcategory {
    display: flex;
    gap: 10px;
}

.button__selects {

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.button__selects button {
    width: 100%;
    max-width: none;
}


.Form__DATAPRODUCTS {
    display: flex;
    gap: 50px;

}

.content {
    position: sticky;
    top: 0;

}

.btn_Data {


    width: 100%;

    display: flex;

    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-width: none;

}

.btn_Data button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content__imputs {
    display: grid;
    width: 400px;
    gap: 20px;

}

.content__inputs_discount {
    display: grid;
    width: 600px;
    gap: 20px;

}

.input__price,
.input_discount {
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: center;
    color: #0f11119a;

}

.input__hint {
    font-size: 12px;
    color: #0f11119a;
}



.content__inputs_gtin_qty {
    display: flex;
    gap: 20px;
}

.input_wei {
    display: flex;
    gap: 2px;

}

.select__weight {
    padding: 10px 30px 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #F7F7F7;
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;
}

.select__max_qty {
    padding: 10px 30px 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #F7F7F7;
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;
}

.inputs_dimension {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.inputs_widths {
    display: flex;
    gap: 20px;
}


.alt_messaje {
    font-size: 12px;

    margin-top: 10px;
    text-align: start;
}

button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;

    font-size: 13px;
    line-height: 40px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100%;

}



.buttons__container {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px 0;
    border-top: 1px solid var(--border-width-1);
    border-bottom: 1px solid var(--border-width-1);
}







.next-button:disabled {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    display: inline-block;

    font-size: 13px;
    line-height: 40px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100%;
    cursor: not-allowed;
    opacity: .5;
}

.next-button:hover:not(:disabled) {

    border: 1px solid var(--color-primary);
}

.Form__IMAGESPRODUCTS {
    display: flex;
    gap: 80px;
}

.conten_form_IMAGES {
    display:
        grid;

    gap: 120px;

}

.btn_images {
    margin-top: 40px;
    width: 100%;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-width: none;

}

.btn_images button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detailImages {
    display: grid;
    gap: 10px;
    grid-template-columns: auto;
}

.content_select_orientation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.content_img {
    width: 600px;
}


.show-more {
    text-align: end;
    color: #005580;
    cursor: pointer;

}

.show-more:hover {

    text-decoration: underline;
}

.Form__DETAILSPRODUCTS {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20PX 0;
    gap: 50px;
}

.detailDescriptionshort {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.content_descriptionShort {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contet_bullets {
    width: 100%;
    max-width: 700px;

}

.cirle-bg {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color-text-light);
}



#vinetas_product {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid var(--border-width-1);
    background-color: var(--color-background-white);
    margin: 5px 0;
}

.conten_newvineta {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    margin: 5px;
}

.btn_new_vineta {
    background-color: #fff;
    box-shadow: none;
    border: none;
    width: 100%;
    text-align: end;
    color: var(--color-blue-vibrant);
    font-size: 13px;
    cursor: pointer;
}

.btn_new_vineta:hover {
    text-decoration: underline;
}

.container_Button_Info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.information_BOX {
    position: sticky;
    top: 20px;
    background-color: var(--color-background-light);
    border-radius: 15px;
    border: 1px solid var(--border-width-1);
    padding: 20px;

}

.information_BOX__title {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

.information_BOX__title strong {
    font-weight: bold;
}

.information_BOX__content {
    color: #666;
    font-size: 13px;
}

.information_BOX__content p {
    margin-bottom: 10px;
}

.information_BOX__content a {
    color: #008CBA;
    /* Cambia a tu color de preferencia */
    text-decoration: none;
}

.information_BOX__content a:hover {
    color: #005580;
    /* Cambia a tu color de preferencia */
    text-decoration: underline;
}